form {
  margin: 20px;

  ion-input,
  ion-textarea {
    margin-bottom: 15px;
  }

  ion-checkbox {
    --size: 32px;
    --checkbox-background-checked: #6815ec;
  }

  ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #6815ec;
  }

  .block {
    display: block;
    margin: 10px;
  }

  ion-button {
    margin-top: 20px;
  }
}


.section-activities {
  margin-left: 10px;

  .activities {

    .activity {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .box {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }

    .start-classes-color {
      background-color: #008000;
    }

    .re-registrations-color {
      background-color: #11ce11;
    }

    .late-re-registrations-color {
      background-color: #ff0000;
    }

    .drops-subjects-color {
      background-color: #880606;
    }

    .graduate-ceremony-color {
      background-color: #ffd700;
    }

    .end-classes-color {
      background-color: #b42020;
    }

    .summer-courses-color {
      background-color: #ffa500;
    }

    .suspension-color {
      background-color: #5e5d5d;
    }

    .vacation-color {
      background-color: #808080;
    }
  }
}