<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/task"></ion-back-button>
    </ion-buttons>
    <ion-title>Tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">

    <ion-input label="Nombre" label-placement="floating" formControlName="name" name="name" fill="outline"></ion-input>
    <div *ngIf="taskForm.get('name')!.invalid && taskForm.get('name')!.touched">
      <ion-text color="danger" padding-left>
        <p *ngIf="taskForm.get('name')!.hasError('required')">El nombre es requerido.</p>
      </ion-text>
    </div>

    <ion-input label="Descripción" label-placement="floating" formControlName="description" name="name"
      fill="outline"></ion-input>
    <div *ngIf="taskForm.get('description')!.invalid && taskForm.get('description')!.touched">
      <ion-text color="danger" padding-left>
        <p *ngIf="taskForm.get('description')!.hasError('required')">La descripción es requerida.</p>
      </ion-text>
    </div>


    <div *ngIf="task != null" class="block">
      <ion-checkbox (ionChange)="toggleIsDone($event)" formControlName="isDone">Terminado</ion-checkbox>
    </div>

    <ion-datetime-button datetime="datetime"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
        displayFormat="dd-MMM-YYYY h:mm a"
      timezone="America/Mexico_City"
      (ionChange)="dateTimeChanged($event)"
      formControlName="datetimeControl"
      id="datetime"
      locale="en-GB"
      hourCycle="h12"
      ></ion-datetime>
      </ng-template>
    </ion-modal>



    <div class="flex-buttons">
      <ion-button *ngIf="task != null" color="danger" type="button" (click)="deleteTasks()">Eliminar</ion-button>
      <ion-button type="submit" [disabled]="!taskForm.valid">Guardar</ion-button>

    </div>
  </form>


</ion-content>