<ion-toolbar class="background-color-header">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/authentication/login"></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<section>
  <div class="header-img">
    <h3>Eri task</h3>
    <img src="../../../../../assets/bike.png" alt="Logo">
  </div>
  <h2>He olvidado mi contraseña</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngIf="opt==0">
      <ion-input label="Correo" formControlName="email" label-placement="floating" fill="outline"
        placeholder="example@example.com"></ion-input>
      <div *ngIf="form.get('email')!.invalid && form.get('email')!.touched">
        <ion-text color="danger" padding-left>
          <p *ngIf="form.get('email')!.hasError('required')">El correo es requerido.</p>
          <p *ngIf="form.get('email')!.hasError('email')">Correo invalido.</p>
        </ion-text>
      </div>
    </div>
    <div *ngIf="opt==1">
      <ion-input label="Código" formControlName="code" label-placement="floating" fill="outline"
        placeholder="example@example.com"></ion-input>
      <div *ngIf="form.get('code')!.invalid && form.get('code')!.touched">
        <ion-text color="danger" padding-left>
          <p *ngIf="form.get('code')!.hasError('required')">El código es requerido.</p>
        </ion-text>
      </div>
    </div>
    <div *ngIf="opt==2">
      <ion-input label="Nueva contraseña" formControlName="newPassword" label-placement="floating" fill="outline"
        placeholder="example@example.com"></ion-input>
      <div *ngIf="form.get('newPassword')!.invalid && form.get('newPassword')!.touched">
        <ion-text color="danger" padding-left>
          <p *ngIf="form.get('newPassword')!.hasError('required')">La contraseña es requerid.</p>
        </ion-text>
      </div>
    </div>

    <ion-button class="submit" [disabled]="!form.valid" type="submit">Verificar</ion-button>

  </form>

</section>