<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Tareas {{ date | date: 'dd-MM-YYYY' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let task of tasks;">
        <article (click)="details(task.idTask)">
          <div>
            <h2>{{ task.name }}</h2>
            <p>{{ task.initialDate | date:'dd-MMM-YYYY' }}</p>
          </div>
        
        </article>
      </div>
      <!-- <div *ngFor=""></div> -->
</ion-content>