<ion-header [translucent]="true">
  <ion-toolbar class="background-color-header">
    <ion-title>
      Inicio
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/authentication/login">
        <ion-icon name="people-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <header>
    <h1>Eri Tareas</h1>
    <h2>Lleva la organización de tus eventos a un mejor nivel</h2>
  </header>

  <div class="sub-title">
    <p>Calendario de eventos</p>
  </div>
  <ion-datetime></ion-datetime>

  <section class="add-task">
    <ion-button routerLink="/task">Registrar evento</ion-button>
  </section>


</ion-content>