header {
  text-align: center;
  background-color: #88f4be;

  h1 {
    margin: 0;
    padding: 10px 0;
  }

  h2 {
    margin: 0;
  }
}

ion-datetime{
  margin: 0 auto;
}



ion-datetime::part(calendar-day) {
  color: black;
  border-radius: 0;
  width: 50px;
}




// .calendar-day.calendar-day-active {
//   display: none;
// }

.highlighted-date {
  // background-color: #ffc0cb; /* Adjust background color as desired */
  // color: #800080; /* Adjust text color as desired */

  background-color: yellow !important;

}


.sub-title {
  p {
    font-size: 20px;
    margin: 10px 0px 10px 15px;
  }
}

.add-task {
  ion-button {
    width: 100%;
  }
}


// .calendar-day.calendar-day-active {
//   display: none;
// }

.highlighted-date {
  // background-color: #ffc0cb; /* Adjust background color as desired */
  // color: #800080; /* Adjust text color as desired */

  background-color: yellow !important;

}
